// Color map
$colors: (
    primary-dark: #333333,
    secondary-dark: #999999,
    primary-light: #b6b6b6,
    note-accent: #f9c6c6,
    light-pink:  #f38181,
    hover-yellow: #fce38a,
    icon-green: #95e1d3,
    border-light: #e5e5e5,
    text-white: #ffffff,
);